<footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>آینده سازان ایران </h3>
              <p >
                لویزان - خیابان مهتاب  <br>
                ایران - تهران <br><br>
                <strong > +98 990 821 12 72  </strong> <br>
                <strong >ایمیل :</strong> info@example.comd<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>لینک ها </h4>
            <ul>
              <li><a href="{% url 'blog:home' %}">خانه</a></li>
              <li><a href="{% url 'blog:about' %}">درباره ما </a></li>
              <li><a href="{% url 'blog:projects' %}">پروژه ها  </a></li>
              <li><a href="{% url 'blog:service' %}">خدمات </a></li>
              <li><a href="{% url 'blog:weblogs' %}">وبلاگ</a></li>
              <li><a href="{% url 'blog:contact' %}">ارتباط با ما  </a></li>
              <li><a href="#">ارائه خدمات </a></li>
              <li><a href="#">خط مشی سازمان </a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>خدمات ما </h4>
            <ul>
              <li><a href="#"> طراحی نقشه های فاز 1 و 2  </a></li>
              <li><a href="#">مشارکت در ساخت </a></li>
              <li><a href="#">مدیریت پروژه </a></li>
              <li><a href="#">کنترل پروژه </a></li>
              <li><a href="#">طراحی گرافیکی </a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Hic solutasetp</h4>
            <ul>
              <li><a href="#">Molestiae accusamus iure</a></li>
              <li><a href="#">Excepturi dignissimos</a></li>
              <li><a href="#">Suscipit distinctio</a></li>
              <li><a href="#">Dilecta</a></li>
              <li><a href="#">Sit quas consectetur</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nobis illum</h4>
            <ul>
              <li><a href="#">Ipsam</a></li>
              <li><a href="#">Laudantium dolorum</a></li>
              <li><a href="#">Dinera</a></li>
              <li><a href="#">Trodelas</a></li>
              <li><a href="#">Flexo</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy;  تمامی حقوق متعلق به شرکت آینده سازان ایران میباشد 
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          <a href="https://bootstrapmade.com/">قالب استفاده شده از وبسایت بوت استرپ</a>
          <p>طراح و پشتیبان سایت : علی طالبی </p>
        </div>
      </div>
    </div>

  </footer>