{%  load static %}
{%  block main %}
<section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>پروژه های ما </h2>
        <p>پروژه های تیم آینده سازان ایران در پایین قابل مشاهده میباشد </p>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
<!--
        <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-remodeling">Remodeling</li>
          <li data-filter=".filter-construction">Construction</li>
          <li data-filter=".filter-repairs">Repairs</li>
          <li data-filter=".filter-design">Design</li>
          
        </ul> End Projects Filters -->

        

        {%  for i in obj %}
        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img style="width :100% ; heigth:200px" src="{{MEDIA_URL}}{{i.picture}}"  class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>پروژه</h4>
                  <p>برای مشاهده دقیق تر میتوانید روی بزرگ نمایی یا خواندن بیشتر کلیک بفرمایید</p>
                  <a href="{{MEDIA_URL}}{{i.picture}}"   title="بزرگ نمایی" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{{i.get_absolute_url}}" title="خواندن بیشتر" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            {%  endfor %}





        </div><!-- End Projects Container -->

      </div>

    </div>
  </section>

  {%   endblock %}